.App {
  text-align: center;
}
*{
  font-family: 'Verdana';
  color:rgb(0, 0, 0);
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: rgb(255, 255, 255);
  padding: 10px 100px;
}

.navbar-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Distribute items evenly */
  align-items: center;
}

.navbar-menu li {
  padding: 10px 15px;
}

.navbar-menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar-menu li a:hover {
  color: #f4a261; /* Change color on hover */
}
h1{
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.accordion-header:hover{
  background-color:#4f4f4f
}
.accordion{
  width: 100%;
}
.accordion-header{
  font-weight: bold;
  padding: 20px 10px;
  width: 100%;
  cursor: pointer;
  outline: none;
  min-height: 20px;
  color: #444;
  transition: 5.7s;
  text-align: left;
}
.accordion-content{
  overflow: hidden;
  text-align: left;
}